<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>MediLaboSolution Notes</h1>

        <!-- Message d'alerte -->
        <div th:if="${message != null}" class="alert alert-warning message-alert" th:text="${message}"></div>
        
        <!-- affichage de la liste des notes du patient -->
		<div th:if="${showCreateForm == false}" >
			<div th:if="${notes != null}" >
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>Date de saisie</th>
				      <th>Note</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="note : ${notes}">
				      <td th:text="${note.date}"></td>
				      <td th:text="${note.contenu}"></td>
				    </tr>
				  </tbody>
				</table>
			</div>
			        <!-- Demande d'ajout d'une une note -->
            <form th:action="@{'/notes/patient/ajouter'}" method="get" class="form-ajouter">
                <button type="submit" class="btn btn-warning">Ajouter notes</button>
            </form>
            <br/>
		<!-- bouton pour retourner aux infos administratives du patient -->
		   	 <form th:action="@{'/patients/' + ${patientId}}" method="get" class="mb-3">
		    	<button type="submit" class="btn btn-success">Retour vers patient</button>
			</form>
		</div>
        

        <!-- Formulaire création note -->
        <div th:if="${showCreateForm}" class="section-create">
            <h2>Ajouter une note</h2>
            <form th:action="@{'/notes/patient/' + ${patientId}}" method="post" th:object="${note}" class="mb-4 form-create">
                
                <div class="form-group">
                    <label for="nom">Contenu</label>
                    <input type="text" id="nom" th:field="*{contenu}" placeholder="Note à saisir ..." class="form-control" required/>
                </div>
                <button type="submit" class="btn btn-success">Enregistrer la note</button>		
            </form>

        </div>
   	</div>

    <script src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>